body{
    margin: 0px;
    padding:0px;
}
img{
    width: 40px;
    height:40px;
}

.docs{
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 20%;
    margin-bottom: 40px;
    border: 1px solid goldenrod;
    padding: 20px;
}
.btn-primary{
    margin-top: 50%;
}
.row{
    margin-bottom: 10px;
}
.plus{
    margin-top: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: larger;
    font-size: 100px;
}
.title{
   
   margin-bottom: 15px;
    border-bottom:1px solid goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}
table{
margin-top: 50px;
}
.picHome{
    width: 100%;
    height: 50%;
}
.detail{
    width: 60%;
    height: 30%;
    margin-left: 30%;
    
   
}
.image{
    width: 50%;
    height: 100%;
}
img.detailImage{
    width: 100%;
    height: 100%;
    display: inline;
    border:1px solid goldenrod;
}
.info{
    width: 50%;
    display: inline;
    border:1px solid greenyellow;
}
.rowInfo{
    border-bottom: 2px solid lightslategray;
    margin: 5px;
}
.titleInfo{
 font-size: 20px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
}